<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
  
    <div id = "content">
      <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
      <script type="text/javascript" src="js/highstock.js"></script>
      <style type="text/css"> ${demo.css} </style>
      <script src="web-picture.js"></script>   
      <div id="container" style="height: 400px; min-width: 310px"></div> 
      <h4 align='center'>Simple Picture</h4>       
    </div>
    
    
    
</ion-view>
